// app global css in SCSS form
@font-face {
  font-family: dmsansRegular;
  src: url("DMSans-Regular.ttf");
}
@font-face {
  font-family: dmsansMedium;
  src: url("DMSans-Medium.ttf");
}
@font-face {
  font-family: dmsansBold;
  src: url("DMSans-Bold.ttf");
}

.text-brand {
  color: #e8c44b !important;
}
.bg-brand {
  background: #e8c44b !important;
}
.text-main {
  color: #f2f2f2;
}

$font-regular: dmsansRegular;
$font-medium: dmsansMedium;
$font-bold: dmsansBold;

.font-regular {
  font-family: $font-regular;
}
.font-medium {
  font-family: $font-medium;
}
.font-bold {
  font-family: $font-bold;
}
body {
  background-color: #191919;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: initial;
}
.text-white {
  color: #f2f2f2;
}
.text-black {
  color: #191919;
}
.bg-bgblack {
  background-color: #191919;
}

:root {
  --q-primary: #e8c44b;
}
